#pedido-info{
  display: flex;
  background: rgb(182, 176, 176);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 200px;
}
#pedido-info2 {
  display: flex;
  gap: 200px; 
  align-items: center;
}
